body {
    margin: 0;
    padding: 0;
    background-color: #efe4d1;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 40px;
    max-width: 600px;
    height: 660px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

.text-my {
    color: #7c2c0c!important;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}